[Desktop Entry]
Type=Application
Exec=nvidia-settings --assign CurrentMetaMode="DVI-D-0: 1920x1080_60_0 +1920+0 {rotation=right, ForceCompositionPipeline=On}, DVI-I-1: 1920x1080_120 +0+420 {ForceCompositionPipeline=On}"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=NVIDIA VSync Hack
Name=NVIDIA VSync Hack
Comment[en_US]=NVIDIA ForceCompositionPipeline hack to fix tearing
Comment=NVIDIA ForceCompositionPipeline hack to fix tearing
