[Desktop Entry]
Type=Application
Exec=nvidia-settings --assign CurrentMetaMode="DP-0: 1920x1080_120 +0+420 { ForceCompositionPipeline = On }, HDMI-0: 1920x1080_60 +1920+0 { Rotation = right, ForceCompositionPipeline = On }, DVI-D-0: 800x600 +560+1500 { Rotation = invert, ForceCompositionPipeline = On }"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=NVIDIA VSync Hack
Name=NVIDIA VSync Hack
Comment[en_US]=NVIDIA ForceCompositionPipeline hack to fix tearing
Comment=NVIDIA ForceCompositionPipeline hack to fix tearing
