{{- $choices := list "home" "work" -}}
{{- $profile := promptChoiceOnce . "profile" "Profile" $choices "home" -}}

[diff]
exclude = ["scripts"]

[status]
exclude = ["scripts"]

[data]
profile = {{ $profile | quote }}
