[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "files/zsh/plugins/z"]
	path = files/zsh/plugins/z
	url = https://github.com/rupa/z.git
[submodule "files/zsh/plugins/zsh-autosuggestions"]
	path = files/zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "files/zsh/plugins/zsh-completions"]
	path = files/zsh/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "files/zsh/plugins/zsh-history-substring-search"]
	path = files/zsh/plugins/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule "files/zsh/plugins/zsh-syntax-highlighting"]
	path = files/zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "files/zsh/plugins/git-flow-completion"]
	path = files/zsh/plugins/git-flow-completion
	url = https://github.com/petervanderdoes/git-flow-completion.git
