#!/usr/bin/env bash

# .tool-versions hash: {{ include "dot_tool-versions" | sha256sum }}

if [[ ! -d "${HOME}/.asdf" ]]; then
    git clone https://github.com/asdf-vm/asdf.git "${HOME}/.asdf" --branch v0.10.2
    source "${HOME}/.asdf/asdf.sh"
fi

asdf update
cat ${HOME}/.tool-versions | awk '{print $1}' | xargs -n 1 asdf plugin add
asdf plugin update --all
asdf install
asdf reshim
