min_version = "2026.9.0"

[settings]
lockfile = true
idiomatic_version_file_enable_tools = ["go", "node", "erlang", "elixir", "opentofu", "terraform"]

[tools]
go = "prefix:1.27"
node = "prefix:26"
erlang = "prefix:29"
elixir = "prefix:1.20"
{{- if eq .profile "home" }}
opentofu = "prefix:1.12"
{{- else if eq .profile "work" }}
terraform = "prefix:1.16"
{{- else }}
{{ fail "profile must be home or work" }}
{{- end }}
