"*":
  "autocomplete-ansible":
    pythonPaths: "/usr/local/Cellar/ansible/2.3.0.0_2/libexec/bin/python2.7"
  "autocomplete-python":
    useSnippets: "all"
  core:
    allowPendingPaneItems: false
    autoHideMenuBar: true
    automaticallyUpdate: false
    disabledPackages: [
      "language-gfm"
      "exception-reporting"
      "metrics"
    ]
    projectHome: "/home/edgard/Documents/Projects"
    restorePreviousWindowsOnStart: false
    telemetryConsent: "no"
  editor:
    fontFamily: "PragmataPro Mono"
    fontSize: 16
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
  "file-icons":
    coloured: false
  "go-plus":
    lint:
      args: [
        "--aggregate"
        "--vendored-linters"
        "--vendor"
        "--tests"
        "--json"
        "."
      ]
    panelDisplayMode: "closed"
    test:
      runTestsOnSave: false
  "linter-ui-default":
    panelHeight: 69
    showPanel: true
  welcome:
    showOnStartup: false
