{
  "mcpServers": {
    "context7": {
      "disabled": false,
      "type": "stdio",
      "command": "npx",
      "args": [
        "-y",
        "@upstash/context7-mcp@latest",
        "--api-key",
        "{{ env "CONTEXT7_API_KEY" }}"
      ]
    },
    "github": {
      "disabled": false,
      "type": "http",
      "url": "https://api.githubcopilot.com/mcp/",
      "headers": {
        "Authorization": "Bearer {{ env "GITHUB_PERSONAL_ACCESS_TOKEN" }}"
      }
    }
  }
}
