# Dev
Host dev
  HostName 192.168.56.2
  User edgard

# Oktane
Host oktane
  HostName okkie.oktaneclub.com
  User edgard

# ***REMOVED***
Host 10.*
  User ***REMOVED***
  ProxyCommand socat STDIO PROXY:***REMOVED***:%h:%p,proxyport=3128
  ServerAliveInterval 10
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
