[Desktop Entry]
Name=Skype for Linux Alpha
Name[en]=Skype for Linux Alpha
Name[de]=Skype für Linux Alpha
Name[es]=Skype para Linux Alpha
Name[fr]=Skype pour Linux Alpha
Name[hi]=अल्फ़ा Linux के लिए Skype
Name[it]=Skype per Linux Alpha
Name[nl]=Skype voor Linux Alpha
Name[pt_BR]=Skype para Linux Alpha
Name[ru]=Skype для Linux Alpha
Name[sv]=Skype för Linux Alpha
Name[uk]=Skype для Linux Alpha
Name[zh_CN]=Skype for Linux Alpha
Comment=Skype Internet Telephony
Exec=/usr/bin/skypeforlinux %U
Icon=skypeforlinux
Terminal=false
Type=Application
StartupNotify=true
Encoding=UTF-8
Categories=Network;Application;
MimeType=x-scheme-handler/skype;
X-KDE-Protocols=skype
