"*":
  editor:
    fontFamily: "PragmataPro"
    showInvisibles: true
    showIndentGuide: true
    invisibles: {}
    fontSize: 16
  core:
    projectHome: "/home/edgard/Documents/Projects"
    themes: [
      "one-dark-ui"
      "one-dark-syntax"
    ]
    disabledPackages: [
      "exception-reporting"
    ]
  welcome:
    showOnStartup: false
  "git-diff":
    showIconsInEditorGutter: true
  "atom-beautify":
    analytics: false
  "go-plus":
    goPath: "/home/edgard/Documents/Projects/go"
  tabs:
    enableVcsColoring: true
