"*":
  editor:
    fontFamily: "PragmataPro"
    showInvisibles: true
    showIndentGuide: true
    invisibles: {}
    fontSize: 16
  core:
    disabledPackages: [
      "autocomplete"
      "spell-check"
      "background-tips"
      "exception-reporting"
      "metrics"
    ]
    projectHome: "/home/edgard/Documents/code"
    themes: [
      "one-dark-ui"
      "one-dark-syntax"
    ]
  welcome:
    showOnStartup: false
  "git-diff":
    showIconsInEditorGutter: true
  "atom-beautify":
    analytics: false
  "go-plus":
    goPath: "/Users/edgard/Documents/code/go"
  tabs:
    enableVcsColoring: true
